{% load static %}

{% block style %}

<style>
@media only screen and (max-width: 767px) {
    .cart-mobile {
        display: block;
        text-align: right;
        cursor: pointer;
        position: absolute;
        right: 39px;
        top: 25px;
    }
    .cart-mobile span {
    color: #0d0d0d;
    font-size: 12px;
    position: relative;
    top: 4px;
    right: 24px;

}

 
}

</style>
    
{% endblock style %}
    
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">

        <div class="offcanvas__nav__option">


        </div>
   
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header sticky-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><h2 class="poppins-black">Retro</h2></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li id="index"><a href="{% url 'index' %}">Home</a></li>
                            <li id="shop" ><a href="{% url 'shop' %}">Shop</a></li>
 
                            <li id="contacts"><a href="{% url 'contacts' %}">Contacts</a></li>
                            <li id="my_orders"><a href="{% url 'my_orders' %}">My Orders</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">

                    <a href="{% url 'cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span class="total-quantity" id="total-quantity">{{ total_quantity }}</span></a>
                    <div  id="total-price" class="price total-price">{{ total_price }} EGP</div>
                    </div>

                    </div>

                 
                        <div class="canvas__open 6 d-block d-md-none"><i class="fa fa-bars"></i></div>
                        <div class="col-6 d-block d-md-none cart-mobile">
                            <a href="{% url 'cart' %}"><img src="{% static 'img/icon/bag.png' %}" alt=""> <span class="total-quantity" id="total-quantity">{{ total_quantity }}</span></a>
                        </div>


        </div>
        </div>
        </div>
    </header>

    
    {% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var cartMobileSpan = document.querySelector('.cart-mobile span');
            if (cartMobileSpan && cartMobileSpan.textContent.length === 2) {
                cartMobileSpan.style.right = '26px';
            }
        });
    </script>  
    {% endblock script %}

    <!-- Header Section End -->


